body {
    background-image: url("");
}
.book-item {
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: rgb(108, 211, 39);
}

form {
    background-color: rgb(178, 178, 206);
    padding: 10px;
}